
.Weather{
    font-family: 'Arial', sans-serif;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 30px auto;
   
    border-radius: 4px;
    color: rgb(135, 135, 135);
}
.Weather form{
    margin-bottom: 16px;
}                       
.Weather h1{
    font-size: 24px;
    font-weight: 100;
    margin:20px 0 0 0 ;
     line-height: 29px;
}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
   
}

.Weather .search-button {
  background: black;
  color: white;
}
.weather-temperature{
    display: flex;
    align-items: center;
}
.weather-temperature{
    height: 64px;
    width: 64px;
    margin-right: 10px;
  
}
.temperature-container{
    display: flex;
    align-items: center;
}   

.Weather .temperature {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  font-weight: 400;
  margin-right: 8px;
  color: rgb(33, 33, 33);
}   

.Weather .canvas{
margin-right: 10px;
margin-top: 5px;
display:inline-block;
}
.WeatherTemperature .unit {
  position: relative;
  top: -24px;       
  margin-left: 6px;
  font-size: 14px;   
}